# Build do ESP-IDF
build/
sdkconfig
sdkconfig.old

# Arquivos de ferramentas e IntelliSense
.clangd
.vscode/

# Binários de C
*.o
*.obj
*.a
*.lib

# Node modules
node_modules/

# Arquivos de ambiente
.env